{
  "overrides": [{
      "files": ["*.ts", "*.tsx"],
      "options": {"parser": "babel-ts"}
    }],
  "printWidth": 160,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "useTabs": false
}
