{
  "overrides": [{
      "files": ["*.ts", "*.tsx"],
      "options": {"parser": "babel-ts"}
    }],
  "printWidth": 160,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "importOrder": ["^@core/(.*)$", "^@emotion/(.*)$", "^@fortawesome/(.*)$", "^@mui/(.*)$", "^@reduxjs/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": false,
  "importOrderParserPlugins" : ["typescript", "jsx"]
}
