**/.vscode
**/temp
**/compose.yaml
**/compose.override.yaml
**/dev.env
**/*.dockerfile
**/*.dockerignore
**/.gitignore
**/.github
**/.gitkeep
**/README.md
**/telepresence.log

**/backend/*.exe
**/backend/*.exe~
**/backend/*.dll
**/backend/*.so
**/backend/*.dylib
**/backend/*.test
**/backend/coverage
**/backend/*.out
**/backend/vendor
**/backend/go.work
**/backend/*.env

**/frontend/node_modules
**/frontend/.pnp
**/frontend/.pnpm-store
**/frontend/.pnp.js
**/frontend/coverage
**/frontend/.next
**/frontend/out
**/frontend/build
**/frontend/.DS_Store
**/frontend/*.pem
**/frontend/npm-debug.log*
**/frontend/yarn-debug.log*
**/frontend/yarn-error.log*
**/frontend/.pnpm-debug.log*
**/frontend/.env*.local
**/frontend/*.env
**/frontend/.vercel
**/frontend/*.tsbuildinfo
**/frontend/next-env.d.ts
