services:
  mysql:
    image: mariadb:11.7
    command: mariadbd --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_HOST=%
      - MYSQL_ROOT_PASSWORD=pass
      - MYSQL_DATABASE=portal
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_DISABLE_UPGRADE_BACKUP=1
      - TZ=Asia/Tokyo
    volumes:
      - mysql:/var/lib/mysql

  backend:
    build:
      dockerfile: backend.dockerfile
      target: development
      context: .
    ports:
      - "80:80"
    environment:
      - VIRTUAL_HOST=localhost
      - VIRTUAL_PATH=/api/
      - VIRTUAL_PORT=80
    env_file:
      - ./dev.env
    volumes:
      - gopkg:/go/pkg
      - ./backend:/backend
      - ./backend/schema:/schema
      - ./seeds:/seeds

  frontend:
    build:
      dockerfile: frontend.dockerfile
      target: development
      context: .
    ports:
      - "3000:3000"
    environment:
      - VIRTUAL_HOST=localhost
      - VIRTUAL_PATH=/
      - VIRTUAL_PORT=3000
    env_file:
      - ./dev.env
    volumes:
      - next:/frontend/.next
      - pnpm-store:/frontend/.pnpm-store
      - node_modules:/frontend/node_modules
      - ./frontend:/frontend

  adminer:
    image: adminer:4.17.1
    ports:
      - "8080:8080"
    environment:
      - ADMINER_DESIGN=hydra
      - ADMINER_DEFAULT_SERVER=mysql

  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - "1025:1025"
      - "8025:8025"

  nginx-proxy:
    image: nginxproxy/nginx-proxy:1.7
    ports:
      - "1080:1080"
      - "10443:10443"
    environment:
      - HTTP_PORT=1080
      - HTTPS_PORT=10443
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

volumes:
  mysql:
  gopkg:
  next:
  pnpm-store:
  node_modules:
