BACKEND_HOST=http://backend
BASE_URL=http://localhost:8080/
DATABASE_URL=mysql://root:root@mysql:3306/portal?parseTime=true&loc=Asia%2FTokyo
EXTERNAL_INTEGRATION_TOKENS=portal_token
INSECURE_COOKIE=true
JWT_KEY=very_secure_jwt_password
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_PROVIDER_URL=https://misw.auth0.com/
OIDC_REDIRECT_URL=http://localhost:8080/callback
PORTAL_CONFIG_YAML={}
PORTAL_CONFIG=env://PORTAL_CONFIG_YAML
SMTP_FROM=
SMTP_PASSWORD=
SMTP_SERVER=
SMTP_USERNAME=
TZ=Asia/Tokyo

# DEBUG_MODE=1の場合メールは送信されずメール内容がログに出力される
DEBUG_MODE=1