.select {
  background-image: url("./unfold_more.svg");
  background-repeat: no-repeat;
  background-position: right theme("spacing.3") center;
  background-size: theme("spacing.6");
}

.select:focus {
  @apply border-blue-500 !important;
}

@media (prefers-color-scheme: dark) {
  .select {
    background-image: url("./unfold_more.dark.svg");
  }
}

:global(.dark) .select {
  background-image: url("./unfold_more.dark.svg");
}
