.select {
  background-image: url("./unfold_more.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  .select {
    background-image: url("./unfold_more.dark.svg");
  }
}

:global(.dark) .select {
  background-image: url("./unfold_more.dark.svg");
}
