name: Backend

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - backend/**

env:
  TEST_EMAIL_SMTP_SERVER: ${{secrets.TEST_EMAIL_SMTP_SERVER}}
  TEST_EMAIL_TO: ${{secrets.TEST_EMAIL_TO}}
  TEST_EMAIL_PASS: ${{secrets.TEST_EMAIL_PASS}}
  TEST_EMAIL_FROM: ${{secrets.TEST_EMAIL_FROM}}

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mariadb:10
        options: --health-cmd "mariadb-admin ping -h localhost" --health-interval 20s --health-timeout 10s --health-retries 10
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: database

    container:
      image: golang:1.19
      env:
        DATABASE_URL: "root:password@tcp(mysql)/?parseTime=true&multiStatements=true"

    steps:
      - uses: actions/checkout@v3

      - name: Install mysqldef
        run: |
          curl -fsSL https://github.com/k0kubun/sqldef/releases/download/v0.13.8/mysqldef_linux_amd64.tar.gz -o ./mysqldef.tar.gz
          tar xvf mysqldef.tar.gz -C /usr/local/bin
          chmod +x /usr/local/bin/mysqldef
          rm -f ./mysqldef.tar.gz

      - name: Coverage
        working-directory: backend
        run: go mod download && go list ./... | grep -v /mock/ | xargs -I go test {} -v -cover -race -tags use_external_db -coverprofile=coverage

      - name: Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./backend/coverage
          flags: backend
          name: codecov-backend
          fail_ci_if_error: false
          verbose: true
