name: Docker

on: [push]

jobs:
  frontend:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'

    steps:
      - uses: actions/checkout@v2
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-frontend-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-frontend-
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: registry.misw.jp
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker meta
        id: meta
        uses: crazy-max/ghaction-docker-meta@v3.5.0
        with:
          images: |
            registry.misw.jp/portal/frontend
          tags: |
            type=ref,event=branch
            type=sha

      - name: Build and Push Container image for Frontend
        uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          file: frontend.Dockerfile
          target: production
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Cleanup cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
  backend:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'

    steps:
      - uses: actions/checkout@v2
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-backend-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-backend-
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: registry.misw.jp
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker meta
        id: meta
        uses: crazy-max/ghaction-docker-meta@v3.5.0
        with:
          images: |
            registry.misw.jp/portal/backend
          tags: |
            type=ref,event=branch
            type=sha

      - name: Build and Push Container image for API Server
        uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          file: backend.Dockerfile
          target: production
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Cleanup cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
