# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Browser Frontend

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - ".github/**"
      - "frontend/**"

defaults:
  run:
    working-directory: frontend

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - uses: bahmutov/npm-install@v1
        with:
          working-directory: frontend
      - name: Prettier
        run: npm run format:check
      - name: ESLint
        run: npm run lint -- --quiet
      - name: Typecheck
        run: npm run typecheck

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12.x
      - uses: bahmutov/npm-install@v1
        with:
          working-directory: frontend
      - name: Build
        run: npm run build
      - name: Generate stats
        run: node tools/generate-stats.js
      - name: Upload stats
        uses: actions/upload-artifact@v2
        with:
          name: build-stats
          path: frontend/.next/build-stats.json
  compare-stats:
    runs-on: ubuntu-latest
    # needs: ["build"]
    if: github.event_name == 'pull_request'

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      # - uses: actions/download-artifact@v2
      #  with:
      #    name: build-stats
      #    path: frontend/build-stats
      - name: Download Stats from master
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: frontend.yml
          branch: master
          event: push
          name: build-stats
          path: frontend/master-stats
      - name: Get comment body
        id: get-comment-body
        run: |
          node tools/compare-stats.js master-stats/build-stats.json master-stats/build-stats.json > body
          body=$(cat body)
          body="${body//'%'/'%25'}"
          body="${body//$'\n'/'%0A'}"
          body="${body//$'\r'/'%0D'}"
          echo ::set-output name=body::$body
      - name: Find comment
        uses: peter-evans/find-comment@v1
        id: find-comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "github-actions[bot]"
          body-includes: "<!-- Build Stats -->"
      - name: Create or update comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            <!-- Build Stats -->
            ${{ steps.get-comment-body.outputs.body }}
          edit-mode: replace
