# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Browser Frontend

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - ".github/**"
      - "frontend/**"

defaults:
  run:
    working-directory: frontend

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - uses: bahmutov/npm-install@v1
        with:
          working-directory: frontend
      - name: Prettier
        run: npm run format:check
      - name: ESLint
        run: npm run lint -- --quiet
      - name: Typecheck
        run: npm run typecheck

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12.x
      - uses: bahmutov/npm-install@v1
        with:
          working-directory: frontend
      - name: Build
        run: npm run build
      - name: Generate Stats
        run: node tools/generate-stats.js
      - name: Upload Stats
        uses: actions/upload-artifact@v2
        with:
          name: build-stats
          path: frontend/.next/build-stats.json
      - name: Download Stats from master
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: frontend.yml
          branch: master
          event: push
          name: build-stats
          path: frontend/master-stats
      - run: ls .
      - run: ls master-stats
